[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
[submodule "public"]
	path = public
	url = https://github.com/OtakuFreak13/OtakuFreak13.github.io
	branch = main
