<div class="metaballs container">

    <canvas id="canvasMetaBalls" width="800" height="500"></canvas>
    
    <p>
        <div class="fps">FPS: <span id="fpsBalls"> </span> </div>
    </p>

    <p>
        <input id="playBalls" type="button" value="play" />
        <input id="pauseBalls" type="button" value="pause" />
    </p>

    <p> 
        To move around in scene use WASD and spacebar/shift to go up and down .
    </p>

    <script type="text/javascript" src="{{ .Site.BaseURL }}/lib/gl-matrix-min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/lib/webgl-utils.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/lib/webgl-debug.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/lib/cuon-utils.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/lib/cuon-matrix.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/lib/shader.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/metaballs.js"></script>


</div>