<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center">Projects</h3>
        <div class="row justify-content-center px-3 px-md-5">
            
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="Unity 2D Game">
                    <div class="card-head">
                        <img class="card-img-top" src="/resources/unity.png" alt="Unity 2D Game">
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            
                            <span class="badge badge-secondary">Unity</span>
                            
                            <span class="badge badge-secondary">C#</span>
                            
                            <span class="badge badge-secondary">Game</span>
                            
                        </div>
                        <h5 class="card-title bg-transparent mt-1">Unity 2D Game</h5>
                        <div class="card-text bg-transparent secondary-font">
                            Currently working on a 2D game in Unity. You place buildings and gather an army to fight the never ending flow of enemies. The game is purely created programmatically. The art and music are created by me.
                        </div>
                    </div>
                    
                    <div class="card-footer py-3">
                        
                        <span class="m-1 mx-2">
                            <a href="https://github.com/fredrix96/MyUnity2DGame" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        
                        
                    </div>
                    
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="Hell Loop">
                    <div class="card-head">
                        <a href="{{ .Site.BaseURL }}/projects/largegameproject" class="image"><img src="/images/hellLoopPosterClean.jpg" width="800" height="1000" alt="" /></a>
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            
                            <span class="badge badge-secondary">DirectX 12</span>
                            
                            <span class="badge badge-secondary">C&#43;&#43;</span>
                            
                            <span class="badge badge-secondary">Game</span>
                            
                        </div>
                        <h5 class="card-title bg-transparent mt-1">Hell Loop</h5>
                        <div class="card-text bg-transparent secondary-font">
                            A game made by me and ten other students at Blekinge Institute of Technology. It is built from the ground up with our own engine in DirectX 12.
                        </div>
                    </div>
                    
                    <div class="card-footer py-3">
                        
                        <span class="m-1 mx-2">
                            <a href="https://github.com/jocke1995/StortSpelProjekt" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        
                        <span class="m-1 mx-2">
                            <a href="https://youtu.be/EPoPFmjj784" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </span>
                        
                        
                        <span class="float-end">
                            <a class="btn btn-sm" href="https://gamejolt.com/games/Hell_Loop/578483" target="_blank">
                                Download
                            </a>
                        </span>
                        
                    </div>
                    
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="Daedalus&#39; Maze">
                    <div class="card-head">
                        <img class="card-img-top" src="/resources/daedalusMaze.jpg" alt="Daedalus&#39; Maze">
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            
                            <span class="badge badge-secondary">OpenGL</span>
                            
                            <span class="badge badge-secondary">C&#43;&#43;</span>
                            
                            <span class="badge badge-secondary">Game</span>
                            
                        </div>
                        <h5 class="card-title bg-transparent mt-1">Daedalus&#39; Maze</h5>
                        <div class="card-text bg-transparent secondary-font">
                            The first game I made together with four other students at Blekinge Institute of Technology. It is built from the ground up with our own engine in OpenGL. Fun fact, a south korean Youtuber found and played this game. It has therefore been seen by more than 100k people. The link to his channel is the second Youtube logo below.
                        </div>
                    </div>
                    
                    <div class="card-footer py-3">
                        
                        <span class="m-1 mx-2">
                            <a href="https://github.com/Whixx/Small-Game-Project" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        
                        <span class="m-1 mx-2">
                            <a href="https://youtu.be/rK4MIVfmG8w" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </span>
                        
                        <span class="m-1 mx-2">
                            <a href="https://youtu.be/G0b1Zi4N9lg" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </span>
                        
                        
                        <span class="float-end">
                            <a class="btn btn-sm" href="https://gamejolt.com/games/daedalusmaze/404262" target="_blank">
                                Download
                            </a>
                        </span>
                        
                    </div>
                    
                </div>
            </div>
            
            
        </div>
    </div>
</section>