<div class="wrapper">
    <div class="inner">
        <section class="features">
            <article class="projectteaser">
                <a href="{{ .Site.BaseURL }}/projects/webgl" class="image"><img src="/images/metaballs.png" alt="" /></a>
                <div class="text" style="padding: 20px;">
                    <h3 class="major" style=" margin-top: 0;">Swedish Metaballs</h3>
                    <p>This is the colmination of the WebGL course I took. Metaballs are renderd in the fragmentshader using raymarching.</p>
                    <a href="{{ .Site.BaseURL }}/projects/webgl" class="special">Learn more</a>
                </div>
            </article>
            <article class="projectteaser">
                <a href="{{ .Site.BaseURL }}/projects/largegameproject" class="image"><img src="/images/hellLoopPosterClean.jpg" width="800" height="1000" alt="" /></a>
                <div class="text" style="padding: 20px;">
                    <h3 class="major">Large Game Project: Hell Loop</h3>
                    <p>Game project spanning a whole semester with 9 other students made in a costum DX12 engine some of the students had ready from another course.</p>
                    <a href="{{ .Site.BaseURL }}/projects/largegameproject" class="special">Learn more</a>
                </div>
            </article>
            <article class="projectteaser">
                <a href="{{ .Site.BaseURL }}/projects/smallgameproject" class="image"><img src="/images/KamiCarZe.png" alt="" /></a>
                <div class="text" style="padding: 20px;">
                    <h3 class="major">Small Game Project: KamiCarZe</h3>
                    <p>A smaller game project that took 3 months for me and 5 other students to complete. Made in one of the students OpenGL engine.</p>
                    <a href="{{ .Site.BaseURL }}/projects/smallgameproject" class="special">Learn more</a>
                </div>
            </article>
            <article class="projectteaser">
                <a href="{{ .Site.BaseURL }}/projects/gamephysicsexplosion" class="image"><img src="/images/tankgame.png" alt="" /></a>
                <div class="text" style="padding: 20px;">
                    <h3 class="major">Game Physics in Unity</h3>
                    <p>A Unity 2D project made by me and another student for our game physics course. The project uses our own projectile and explosion physics.</p>
                    <a href="{{ .Site.BaseURL }}/projects/gamephysicsexplosion" class="special">Learn more</a>
                </div>
            </article>
        </section>
    </div>
</div>

</section>
